
<!--<br>   -->
<!--   <br>   -->
<!--   <br>   -->
<!--   <br>   -->
<!--   <br>  -->
<!--   <br>  -->
<!--   <br>  -->
<!--   <br>  -->
<!--   <br>  -->
<!--   <br>  -->
<!--   <br>  -->
<!--   -->
<!--&lt;!&ndash; Content Start &ndash;&gt;-->
<!--<div class="content">-->






<!--    &lt;!&ndash; Recent Sales Start &ndash;&gt;-->
<!--    <div class="container-fluid pt-4 px-4">-->
<!--        <div class="bg-light text-center rounded p-4">-->
<!--            <div class="d-flex align-items-center justify-content-between mb-4">-->
<!--                <h3> Add Rental Contrat</h3>-->
<!--            </div>-->
<!--            <form  (ngSubmit)="addRentalContrat()">-->
<!--                <div class="row col-6">-->
<!--                    <div class="col-6">-->
<!--                        <label >Start</label>-->
<!--                        <input type="date" name="startdate" [(ngModel)]="contract.datedebut" class="form-control">-->
<!--                    </div>-->
<!--             -->
<!--                    -->
<!--                  -->
<!--                    <div class="col-6">-->
<!--                        <label >Nombre de month</label>-->
<!--&lt;!&ndash;                        <input type="number" name="nbjour" [(ngModel)]="contract.nbjour" class="form-control">&ndash;&gt;-->
<!--                    </div>-->

<!--                </div>-->
<!--                <button style="margin-top: 20px; width: 100%;" type="submit" class="btn btn-primary">Add</button>-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--<br>   -->
<!--   <br>   -->
<!--   <br>   -->
<!--   <br>   -->


